<style>
  form{
    width: 500px;
   float: right;
  }
body {font-family: Arial, Helvetica, sans-serif;
font-size: larger;}
  * {box-sizing: border-box}
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  select{
    font: 1em sans-serif;
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

  }
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  a{
    text-decoration: none;
    color: #ddd;
  }
  .logo{
    width: 400px;
    height: 400px;
    background-color: #d5e7e0;
    position: absolute;
    left: 200px;
    top: 100px;
    
  }
  .logo-img{
    background-image: url('https://res.cloudinary.com/lefttech/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,w_360/v1609163688/sample.jpg');
   width: 360px;
   height: 200px;
   background-position: center;
   margin: auto;
   margin-top: 100px;
   background-repeat: no-repeat;
  }
  h1{
    margin-left: 550px;
  }
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  </style>
<h1 >Create User</h1>
<div class="container ">
  <form action="/users" method="post" >
    <label for="email">Email</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">password</label>
    <input type="text" id="password" name="password"><br><br>
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="age">age</label>
    <input type="text" id="age" name="age"><br><br>
    <label for="gender">gender</label>
    <select name="gender" id="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br><br>
    
    <label for="designation">Designation</label>
   
    <select name="designation" id="designation">
      <option value="Hr">Hr</option>
      <option value="Sales">Sales</option>
      <option value="Engineer">Engineer</option>

    </select><br><br>
    <label for="userType">userType</label>
   
    <select name="userType" id="userType">
      <option value="User">User</option>
      <option value="Admin">Admin</option>
    </select><br><br>
    <div class="clearfix">
      <button type="button" class="cancelbtn" ><a href="/">clancel</a></button>
      <button type="submit" class="signupbtn">confirm</button>
    </div>
  </div>
  </form>
 <div class="logo">
<div class="logo-img"></div>

</div>
<h1 style="margin-top: 500px; margin-left: 180px;">LeftOutar Technologies</h1> </div>